<div class="bg-img">
    <div class="card" style="margin: 40px 1vw 10px;">
        <div class="card-header text-center">
            <h5 class="card-title">Find your approx cost</h5>
        </div>
        <div class="card-body">
            <!-- <form> -->
            <div class="container">
                <div class="row" style="margin: 10px;">
                    <div class="col-sm-4">
                        Car Type:
                    </div>
                    <div class="col-sm">
                        <select name="car_type" id="car_type" class="form-control">
                        <option value="ALL" selected>All Type</option>
                        <option value="EC">Economy Cars</option>
                        <option value="CC">Compact Car</option>
                        <option value="MS">Mid Size Car</option>
                        <option value="FS">Full Size Car</option>
                        <option value="PC">Premium Car</option>
                        <option value="LC">Luxury Car</option>
                        <option value="SC">SUVs Car</option>
                    </select>
                    </div>
                </div>
                <div class="row" style="margin: 10px;">
                    <div class="col-sm-4">
                        Days:
                    </div>
                    <div class="col-sm">
                        <input type="number" name="day" id="day" class="form-control">
                    </div>
                </div>
                <div class="row" style="margin: 10px;">
                    <div class="col-sm-4">
                        Duration:
                    </div>
                    <div class="col-sm">
                        <input type="number" name="distance" id="distance" class="form-control">
                    </div>
                </div>
                <div class="row align-items-center" style="margin: 10px;">
                    <div class="col">
                        <button type="button" id="find_btn" class="btn btn-block" style="background-color:#FF4E14;color:white;">Find</button>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
    <div class="card" id="find_table" style="margin:40px 1vw 10px;">
        <div class="card-header">
            <h5 id="c_type">All</h5>
        </div>
        <div class="card-body">
            <div class="container" id="find_table_cont">
                <div class="row">
                    <div class="col-sm-5">
                        Economy Car
                    </div>
                    <div class="col-sm-4">
                        1000-2000
                    </div>
                    <div class="col-sm-3">
                        <a href="cars.html" style="text-decoration-line: none;color:#FF4E14">More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        Compact Car
                    </div>
                    <div class="col-sm-4">
                        2000-3000
                    </div>
                    <div class="col-sm-3">
                        <a href="cars.html" style="text-decoration-line: none;color:#FF4E14">More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        Mid Size Car
                    </div>
                    <div class="col-sm-4">
                        2500-4000
                    </div>
                    <div class="col-sm-3">
                        <a href="cars.html" style="text-decoration-line: none;color:#FF4E14">More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        Full Size Car
                    </div>
                    <div class="col-sm-4">
                        3000-4500
                    </div>
                    <div class="col-sm-3">
                        <a href="cars.html" style="text-decoration-line: none;color:#FF4E14">More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        Premium Car
                    </div>
                    <div class="col-sm-4">
                        5000-7000
                    </div>
                    <div class="col-sm-3">
                        <a href="cars.html" style="text-decoration-line: none;color:#FF4E14">More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        Luxury Car
                    </div>
                    <div class="col-sm-4">
                        6000-10000
                    </div>
                    <div class="col-sm-3">
                        <a href="cars.html" style="text-decoration-line: none;color:#FF4E14">More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        SUVs Car
                    </div>
                    <div class="col-sm-4">
                        5000-8000
                    </div>
                    <div class="col-sm-3">
                        <a href="cars.html" style="text-decoration-line: none;color:#FF4E14">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>