<div class="content" style="margin-left: 0px;">
    <img src="../../assets/images/admin.jpg">
    <div class="color">
        <div id="car-card" class="card text-center" style="margin:90px auto 5px;width:50rem;">
            <div class="card-header" style="background-color:#ff8c00;color:white;margin:-2px">
                <div class="card-title">
                    <h2>Add New Car</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <form [formGroup]="myForm">
                        <div class="row" style="margin: 10px;">
                            <div class="col-sm-4">
                                Car Name:
                            </div>
                            <div class="col-sm">
                                <input class="form-control" formControlName="carname" [(ngModel)]="carname" type="text" id="cname" name="cname" required>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px;">
                            <div class="col-sm-4">
                                Car Type:
                            </div>
                            <div class="col-sm">
                                <select name="car_type" formControlName="category" [(ngModel)]="category" id="car_type" class="form-control">
                                <option value="ec">Economy Cars</option>
                                <option value="cc">Compact Car</option>
                                <option value="ms">Mid Size Car</option>
                                <option value="fs">Full Size Car</option>
                                <option value="pc">Premium Car</option>
                                <option value="lc">Luxury Car</option>
                                <option value="suv">SUVs Car</option>
                            </select>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px;">
                            <div class="col-sm-4">
                                Tansmission:
                            </div>
                            <div class="col-sm" style="display: flex;align-items: center;min-width:220px;max-width:250px;">
                                <input class="form-control" value="Manual" formControlName="transmission" [(ngModel)]="transmission" type="radio" required>Manual
                                <input class="form-control" value="Auto" formControlName="transmission" [(ngModel)]="transmission" type="radio" required>Auto
                            </div>
                        </div>
                        <div class="row" style="margin: 10px;">
                            <div class="col-sm-4">
                                Price (/day):
                            </div>
                            <div class="col-sm">
                                <input class="form-control" formControlName="price" [(ngModel)]="price" type="number" id="pday" name="pday" required>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px;">
                            <div class="col-sm-4">
                                Car Image:
                            </div>
                            <div class="col-sm">
                                <input type="file" class="custom-file-input" id="bodyPic" name="bodyPic" (change)="onBodyFileChange($event)">
                                <label class="custom-file-label" for="bodyPic">{{bodyPath|| 'Choose File'}}</label>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px;">
                            <div class="col-sm-4">
                                Interior Image:
                            </div>
                            <div class="col-sm">
                                <input type="file" class="custom-file-input" id="interiorPic" name="interiorPic" (change)="onIntFileChange($event)">
                                <label class="custom-file-label" for="interiorPic">{{intPath|| 'Choose File'}}</label>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px;">
                            <div class="col-sm-12">
                                <button class="btn btn-block" (click)="addCar({'name':carname,'price':price,'transmission':transmission,'bodyPic':'','interiorPic':'','category':category,'available':true})" style="background-color: #FF4E14;color: white;">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>