<div class="bg-img">
    <div class="card" style="margin: 60px 10px 5px 10px;">
        <div class="card-header text-center">
            <h5 class="card-title">SignUp</h5>
        </div>
        <div class="card-body">
            <!-- <form> -->
            <div class="container">
                <div class="row" style="margin: 10px;">
                    <div class="col-sm-4">
                        Username:
                    </div>
                    <div class="col-sm">
                        <input class="form-control" type="text" id="username" name="username" required>
                    </div>
                </div>
                <div class="row" style="margin: 10px;">
                    <div class="col-sm-4">
                        Email:
                    </div>
                    <div class="col-sm">
                        <input class="form-control" type="email" id="email" name="email" required>
                    </div>
                </div>
                <div class="row" style="margin: 10px;">
                    <div class="col-sm-4">
                        Password:
                    </div>
                    <div class="col-sm input-group mb-2">
                        <input class="form-control" type="password" name="password" id="password" required>
                        <div class="input-group-append input-group-text" style="background-color: #FF4E14;">
                            <i id="togglePassword" class="fa fa-eye-slash fa-eye" aria-hidden="true" style="color:white"></i>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 10px;">
                    <div class="col-sm-4">
                        Confirm Password:
                    </div>
                    <div class="col-sm input-group mb-2">
                        <input class="form-control" type="password" name="Cpassword" id="Cpassword" required>
                        <div class="input-group-append input-group-text" style="background-color: #FF4E14;">
                            <i id="toggleCoPassword" class="fa fa-eye-slash fa-eye" aria-hidden="true" style="color:white"></i>
                        </div>
                    </div>
                </div>
                <div class="row align-items-end" style="margin: 10px;">
                    <div class="col-sm">
                        <a routerLink="/login">Already have an account!</a>
                    </div>
                </div>
                <div class="row align-items-center" style="margin: 10px;">
                    <div class="col-sm">
                        <button type="button" id="find_btn" class="btn btn-block" style="background-color:#FF4E14;color:white;">SignUp</button>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>