<div class="bg-img">
    <div class="card mb-3 justify-content-center" style="margin: 90px auto 5px;width: 50%;">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <img src="../../assets/images/profile.png" class="card-img" alt="Profile Pic" style="border-radius: 30px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Harshit Chudasama</h5>
                    <p class="card-text">xyz@gmail.com</p>
                    <p class="card-text">+91 1234567890</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin:20px 1px 20px">
            <div class="col">
                <a class="btn btn-block" style="background-color:#ff8c00;color:white">Update</a>
            </div>
            <div class="col">
                <a class="btn btn-block" style="background-color:#ff8c00;color:white">Travel History</a>
            </div>
        </div>
    </div>
</div>