<nav class="topnav">
    <img class="logo" src="../../assets/images/logo.jpg">
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i></a>
    <a routerLink="/signup" routerLinkActive="active">SignUp</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <!-- <a routerLink="/admin" routerLinkActive="active">Admin</a> -->
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    <a routerLink="/cars/ec" routerLinkActive="active">Cars</a>
    <a routerLink="/home" routerLinkActive="active">Home</a>
</nav>
<div id="myTopNav">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/cars" routerLinkActive="active">Cars</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    <!-- <a routerLink="/admin" routerLinkActive="active">Admin</a> -->
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/signup" routerLinkActive="active">SignUp</a>
</div>