body {
    margin: 0;
}

.sidebar {
    background-color: #f8f8f8;
    margin: 10px;
    padding-top: 5px;
    max-width: 200px;
    width: auto;
    min-width: 180px;
    height: 95vh;
    overflow: auto;
    z-index: 1;
    position: fixed;
    border-radius: 10px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    cursor: default;
    border-radius: 5px;
    margin: 3px;
    padding: 18px;
    background-color: #FF4E14;
    color: white;
}

.sidebar a:hover:not(.active) {
    cursor: default;
    border-radius: 5px;
    margin: 1px;
    /* padding: 18px; */
    background-color: #ff8c00;
    color: white;
}