<div class="dropdown dropright" style="z-index: 10000;position: fixed;">
    <button class="btn btn-block dropdown-toggle dropdown-toggle-split" style="background-color: #FF4E14;color:white;min-width: 20px; max-width: 25px; position: fixed;top: 60px;left: -2px;" type="button" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="sr-only">Toggle dropdown</span>
    </button>
    <div class="dropdown-menu" id="category" aria-labelledby="dropdownButton">
        <a class="dropdown-item" routerLink="/cars/all" routerLinkActive="active">ALL</a>
        <a class="dropdown-item" routerLink="/cars/ec" routerLinkActive="active">Economy Cars</a>
        <a class="dropdown-item" routerLink="/cars/cc" routerLinkActive="active">Compact Car</a>
        <a class="dropdown-item" routerLink="/cars/ms" routerLinkActive="active">Mid Size Car</a>
        <a class="dropdown-item" routerLink="/cars/fs" routerLinkActive="active">Full Size Car</a>
        <a class="dropdown-item" routerLink="/cars/pc" routerLinkActive="active">Premium Car</a>
        <a class="dropdown-item" routerLink="/cars/lc" routerLinkActive="active">Luxury Car</a>
        <a class="dropdown-item" routerLink="/cars/suv" routerLinkActive="active">SUVs Car</a>
        <a class="dropdown-item" routerLink="/approxCost" routerLinkActive="active" id="approx">Find Approx Cost</a>
    </div>
</div>
<div class="d-flex flex-wrap">
    <div *ngFor="let car of cars">
        <a (click)="carDetails(car)" class="card">
            <img class="card-img-top" src="../../assets/carPic/{{car.bodyPic}}">
            <div class="card-body">
                <h1 class="card-title">{{car.name}}</h1>
                <p class="card-text">Price: {{car.price | currency:'INR'}}/day</p>
            </div>
        </a>
    </div>
</div>